#main {
  height: calc(100vh - 80px);
}

.section-title {
  text-align: center;
}

.canvas-container {
  width: 500px !important;
  height: 500px !important ;
}

.active {
  background-color: white;
  color: black;
}
